* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #ba181b;
  border-radius: 20px;
}

html {
  scroll-behavior: smooth;
}

.firstSection {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.videoFirstSection {
  position: relative;
  height: 100vh;
}

.videoFirstSection video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textFirstSection {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 4px;
  margin: 0 80px;
}

.textFirstSection .textFirstSectionContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  gap: 20px;
  padding: 30px;
  line-height: 1.5;
  align-items: flex-start;
  text-align: left;
  background: #00000091;
  border-radius: 4px;
}

.textFirstSection div h1 {
  margin-left: -2px;
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

.textFirstSection div h3 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.textFirstSection div h1,
.textFirstSection div h3 {
  text-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 39%);
}
.textFirstSection a,
.section.second a,
.section.third a,
.section.fourth a {
  display: flex;
  font-size: 0.9375rem;
  font-weight: bold;
  padding: 14px 18px;
  background: #ba181b;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  letter-spacing: 0.05rem;
  align-items: center;
  gap: 5px;
  flex-direction: row-reverse;
}

.logos {
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.logos img {
  width: 150px;
}

.section.second {
  align-items: center;
}

.section.third {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 30px;
  padding: 80px;
  background: #3e3e3e;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top: 4px solid #ba181b;
  border-bottom: 4px solid #ba181b;
  flex-direction: column;
}

.section.third p {
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
}

#subtitleIcon p {
  font-weight: 600;
}

.section.second,
.section.fourth {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  gap: 30px;
  padding: 80px;
  background: white;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}

.section.second {
  padding: 80px;
}

.section.third h2 {
  text-align: center;
  color: white;
}

.secondSectionText,
.fourthSectionText {
  display: flex;
  width: 80%;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.section h2,
.section h3 {
  color: black;
  font-size: 2.5rem;
}

.section.second p,
.section.fourth p {
  color: black;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
}

.section.second img,
.section.fourth img {
  width: 100%;
  border-radius: 4px;
}

.containerCardProducts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.section.third.fourthColumns .containerCardProducts {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section.fourth.fourthColumns {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.section.fourth.fourthColumns .containerCardProducts {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cardProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  gap: 20px;
}

.cardProducts h4 {
  font-size: 1.5rem;
  color: white;
}

.section.third .containerCardProducts img {
  width: 100%;
  border-radius: 4px;
}

svg#whatsapp,
svg#locationIcon {
  fill: white;
  width: 20px;
  height: 20px;
}

.headerPrivia {
  position: relative;
}

.menuPrivia {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  gap: 30px;
  padding: 40px 80px;
  justify-content: center;
  align-items: center;
}

.itemMenu {
  text-decoration: none;
  background: #00000091;
  color: white;
  padding: 14px 18px;
  border-radius: 4px;
}

.containerButtonsMenu {
  display: flex;
  gap: 20px;
}

.secondSectionText img,
.fourthSectionText img {
  width: 40px !important;
}

.cardsAtendimentoLojasPrivia {
  display: flex;
  gap: 20px;
}

#cardsAtendimentosButton {
  display: flex;
  background: #3e3e3e;
  color: white;
  border: none;
}

#cardsAtendimentosButton img {
  width: 100px;
}

.secondSectionText span {
  font-size: 1.4rem;
  font-weight: 600;
}

#subtitleIcon {
  display: flex;
  align-items: center;
  gap: 15px;
}

.section.second.icons {
  grid-template-columns: 1fr;
}

.section.second.icons .gridIcons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section.second.icons img {
  width: 50px;
}
.section.second.icons {
  padding-bottom: 0;
}

.section.second.icons .gridIcons > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.section.second.icons p {
  font-weight: 600;
  font-size: 1.4rem;
}

.containerMaps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.containerMaps .cardProducts {
  background: #555454;
  padding: 20px;
  border-radius: 4px;
}

.cardProducts span {
  color: white;
  font-size: 1.125rem;
}

.buttonMaps {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.containerWhatsapp {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  align-items: center;
}

#textWhatsapp {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#textWhatsapp p {
  font-size: 1.125rem;
}

#textWhatsapp a {
  background: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

#textWhatsapp svg {
  fill: #25d366;
}

#buttonsWhatsapp {
  display: flex;
  justify-content: center;
  gap: 30px;
}

#buttonsWhatsapp a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: #555454;
  padding: 14px 18px;
  border-radius: 4px;
  flex-direction: row;
}

#buttonsWhatsapp img {
  width: 125px;
}

#buttonsWhatsapp div {
  display: flex;
  flex-direction: column;
}

#buttonsWhatsapp span strong {
  color: white;
  font-weight: 700;
  font-size: 1.25rem;
}

#buttonsWhatsapp span {
  font-weight: 500;
  font-size: 1rem;
}
